.text{
    text-align: center;
    color: #1F2DFE;
    font-weight: bold;
}

.loginBtn{
    background-color: #1F2DFE;
}

.loginBtn:hover{
    background-color: #1e40af;
}

.email{
    color: #1F2DFE;
}

.go-back-text {
    font-size: 14px;
    color: #64748b;
}

.error {
    line-height: 20px;
}

.errorText{
    width: 330px;
}

.disabledButton{
    background-color: #c9c9c9 !important;
}

input:focus{
    --tw-ring-color: #1F2DFE;
}